.champion-card{
    width: 200px;
    min-height: 100px;
    margin: 15px;
    display: inline-block;
    vertical-align: text-top;
    background: #22212d;
    color: white;
}

.name{
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    height: 30px;
}

.info{
    font-size: 10px;
    line-height: 0.5;
}

.info-status{
    margin-top: 5px;
}

span.ability{
    margin-right:15px;
}

.healthbar {
    background: linear-gradient(#da4c00, #a83c02);
}

.healthbar.orange {
    background: linear-gradient(#ec8900, #995b04);
}

.healthbar.yellow {
    background: linear-gradient(#c7bf29, #969010);
}

.healthbar.green {
    background: linear-gradient(#1aa744, #147b2e);
}

.healthbar-container, .energybar-container{
    background-color: #353344;
    height: 25px;
    border-radius: 3px;
    margin-bottom: 5px;
    box-shadow: 0px 2px 5px #191821;
}

.energybar-container{
    height: 10px;
    margin-bottom: 15px;
}

.healthbar, .energybar{
    height: 100%;
    float:left;
    border-radius: 3px 0px 0px 3px;
    border-right: 2px solid #ffffff96;
}

.energybar{
    background: linear-gradient(#e6b425, #f1a600);
    border-right: 2px solid #ffffff70;
}

.healthbar-healing{
    background: linear-gradient(270deg, #ffffff70,#ffffff00);
    height: 100%;
    float: right;
    margin-left: -10px;
}

.healthbar-damage{
    background: linear-gradient(90deg, #ffffff50, #5f2f2f00);
    height: 100%;
    border-radius: 0px 3px 3px 0px;
    float: left;
    margin-right: -200px;
}

.healthnumber, .energynumber{
    left: 50%;
    position: absolute;
    margin-left: -10px;
    font-size: 12px;
    line-height: 2;
}

.target{
    box-shadow:0px 0px 0px 3px #bb1c1c inset;
}

.dead{
    background-color:#151321;
    color:#ffffff30;
    span, p{
        color: #ffffff30;
    }
    h2{
        color: #ffffff30;
    }
}

.tooltip{
    position: fixed;
    background-color: #16151d;
    color:white;
    width: 600px;
    height: 200px;
    padding: 15px;
    border-radius: 4px;
    bottom: 50px;
    right: 50px;
    z-index: 1000;
    box-shadow: 5px 0px 10px black;
    .abilityType{
        font-size: 11px;
        line-height: 0.7;
    }
    .support{
        color: #39b939;
    }
    .special{
        color: #30b6a4;
    }
    .attack{
        color: rgb(238, 71, 71);
    }
    .block{
        color: rgb(44, 144, 226);
    }
    .cancel{
        color: rgb(202, 63, 133);
    }

    .description{
        margin-top: 20px;
        margin-bottom: 30px
    }

    .cooldown{
        color: rgba(255, 255, 255, 0.822);
        font-size: 12px;
    }
}

.stats{
    padding: 3px 9px;
    background-color: #191727;
    color: #ffffff85;
    border-radius: 2px;
    margin-bottom: 15px;
    margin-right: 6px;
    display: inline-block;
    vertical-align: middle;
}

.power{
    color: #b6429d;
}
.speed{
    color: #e6b425;
}
.armor{
    color: #4c83ff;
}
.presence{
    color: #7a62ff;
}

.level{
    background-color: #353344;
    margin-bottom: 0px;
    margin-right: 0px;
    float: right;
}

.level.dinged{
    background-color: #ffbc00;
    color: black;
    box-shadow: 0px 2px 5px #191821;
    cursor: pointer;
}

.weapon{
    padding: 3px 8px;
    background-color: #353344;
    border-radius: 2px;
    display: inline-block;
    color: #ffffff85;
}

.ability{
    padding: 3px 8px;
    background-color: #4f4c5d;
    color: white;
    border-radius: 2px;
    margin-bottom: 7px;
    display: inline-block;
    margin-right: 7px;
    box-shadow: 0px 2px 5px #191821;
}

.ability-icon{
    width: 50px;
    height: 50px;
    border-radius: 4px;
    margin-right: 7px;
    display: inline-block;
}

.tooltip-icon{
    float:left;
    width: 100px;
    height: 100px;
    border-radius: 8px;
    margin-right: 20px;
}

.pickable{
    cursor: pointer;
}

.pickedAbilitym, .attacking{
    background-color: #ffbc00;
    color: black;
}

.onCooldown{
    color: #ffffff60;
    cursor: not-allowed;
    text-decoration: none;
    background-color: #1c1b25;
    box-shadow: none;
}

.status{
    font-size: 10px;
}

.showPicksBackground{
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    height: 100%;
    background-color: #12101df6;
    z-index: 99;
}

.showPicks{
    position: fixed;
    top: 50%;
    margin-top:-200px;
    width: 800px;
    left: 50%;
    margin-left: -400px;
    background-color: #12101df6;
    border: 4px solid black;
    color: white;
    padding: 15px;
    z-index: 100;

    .pickIndicator{
        background-color: #12101d;
        padding: 10px;
        padding-bottom: 3px;
        display: inline-block;
        border-radius: 2px;
    }

    .active{
        box-shadow:0px 0px 0px 2px #ffbc00 inset;
        .ability{
            cursor: pointer;
        }
    }
}

.picked, .casting{
    background: linear-gradient(-45deg,  #22212d, #2a293a, #d39c05);
    box-shadow:0px 0px 0px 4px #ffbc00 inset;
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

.castbar{
    padding: 3px 8px;
    background-color: #d39c05;
    border-radius: 2px;
    margin-bottom: 7px;
    display: inline-block;
    margin-right: 7px;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.material-icons{
    font-size: 13px;
    line-height: 1.6;
    display: inline-block;
    vertical-align: middle;
}