.champion{
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    width: 400px;
    height: 250px;
}

.position-0{
    left: 20vw;
    top: 25vh;
}

.position-1{
    left: 45vw;
    top: 20vh;
}

.position-2{
    left: 70vw;
    top: 25vh;
}

.position-3{
    left: 20vw;
    top: 67vh;
}

.position-4{
    left: 45vw;
    top: 72vh;
}

.position-5{
    left: 70vw;
    top: 67vh;
}

.champion-card{
    width: 400px;
    height: 200px;
    display: inline-block;
    vertical-align: text-top;
    background: #22212d;
    color: white;
    padding: 0px;
    border-radius: 0px;
    box-shadow: 0px 4px 12px #00000090;
}

.abilities{
    height: 66px;
    padding: 15px;
    padding-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    background: #1a1923;
    color: white;
    margin: 15px 15px -3px;
    box-shadow: 0px 2px 7px #00000050;
}

.champion-avatar, .champion-content, .weapon-container, .stats-container{
    float:left;
}

.champion-flag{
    margin:0px 15px;
    width: 20px;
    height: 30px;
    box-shadow: 0px 2px 5px #191821;
}

.flag-A{
    background-color: #2955e4;
}

.flag-B{
    background-color: #ce425a;
}

.weapon-container{
    margin-right: 15px;
}

.champion-avatar{
    height: 100%;
    width: 120px;
    background-size: cover;
}

.champion-content{
    padding: 12px;
    width: 255px;
}

.name{
    margin-bottom: 10px;
}

.info{
    font-size: 10px;
    line-height: 0.5;
    color: #dedede;
}

.info-status{
    margin-top: 5px;
}

span.ability{
    margin-right:15px;
}

.healthbar {
    background: linear-gradient(#da4c00, #a83c02);
}

.healthbar.orange {
    background: linear-gradient(#ec8900, #995b04);
}

.healthbar.yellow {
    background: linear-gradient(#c7bf29, #969010);
}

.healthbar.green {
    background: linear-gradient(#1aa744, #147b2e);
}

.healthbar-container, .energybar-container{
    background-color: #353344;
    clear: both;
    width: 235px;
    height: 25px;
    border-radius: 3px;
    margin-bottom: 6px;
    box-shadow: 0px 2px 5px #191821;
    display:inline-block;
    vertical-align: middle;
}

.energybar-container{
    height: 10px;
    margin-bottom: 20px;
}

.healthbar, .energybar{
    height: 100%;
    float:left;
    border-radius: 3px 0px 0px 3px;
    border-right: 2px solid #ffffff96;
}

.energy-icon, .health-icon{
    display: inline-block;
    margin-right: 10px;
    vertical-align: middle;
}

.health-icon{
    margin-bottom: 4px;
}

.energy-icon{
    margin-bottom: 20px;
}


.energybar{
    background: linear-gradient(#e6b425, #f1a600);
    border-right: 2px solid #ffffff70;
}

.healthbar-healing{
    background: linear-gradient(270deg, #ffffff70,#ffffff00);
    height: 100%;
    float: right;
    margin-left: -10px;
    max-width: 200px;
}

.healthbar-damage{
    background: linear-gradient(90deg, #ffffff50, #5f2f2f00);
    height: 100%;
    border-radius: 0px 3px 3px 0px;
    float: left;
    margin-right: -200px;
    max-width: 200px;
}

.healthnumber, .energynumber{
    left: 270px;
    position: absolute;
    margin-left: -10px;
    font-size: 12px;
    line-height: 2;
}

.dead{
    background-color:#151321;
    color:#ffffff30;
    span, p{
        color: #ffffff30;
    }
    h2{
        color: #ffffff30;
    }
}

.tooltip{
    position: fixed;
    background-color: #191821;
    color:white;
    width: 350px;
    min-height: 100px;
    padding: 15px;
    border-radius: 4px;
    bottom: 25px;
    right: 25px;
    z-index: 1000;
    box-shadow: 0px 3px 10px black;
    .abilityType{
        font-size: 11px;
        line-height: 0.7;
    }
    
    .type-OFFENSE{
        color: #e95561;
    }
    .type-CONTROL{
        color: #f59343;
    }
    .type-SUPPORT{
        color: #5cdba0;
    }
    .type-DEFENSE{
        color: #4e92f8;
    }

    .description{
        margin-top: 20px;
        margin-bottom: 30px
    }

    .tooltip-info{
        color: rgba(255, 255, 255, 0.822);
        font-size: 12px;
        margin-bottom: 0px;
    }
}

.stats-container{
    margin-right: 15px;
}

.stats{
    padding: 8px;
    background-color: #191727;
    color: #ffffff85;
    border-radius: 3px;
    margin-right: 6px;
    display: inline-block;
    vertical-align: middle;
    width: 12px;
    text-align: center;
}

.power{
    color: #b6429d;
}
.speed, .energy{
    color: #e6b425;
}
.armor{
    color: #4c83ff;
}
.presence{
    color: #38b7d4;
}

.ability{
    display: inline-block;
    border-radius: 4px;
    margin-right: 5px;
    width: 60px;
    height: 60px;
    border: 3px solid black;
    background-color: black;
    position: relative;
}

.ability.type-OFFENSE.pickable:hover{
    border-color: #e95561;
}
.ability.type-CONTROL.pickable:hover{
    border-color: #f59343;
}
.ability.type-SUPPORT.pickable:hover{
    border-color: #5cdba0;
}
.ability.type-DEFENSE.pickable:hover{
    border-color: #4e92f8;
}

.ability-overlay{
    width: 60px;
    height: 60px;
    float: left;
    position: absolute;
}

.ability-icon{
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    left: 0px;
}

.icon-cooldown{
    opacity: 0.25;
}

.status-icon{
    width: 30px;
    height: 30px;
    margin: 0px 8px 8px 0px;
    margin-left: 0px;
    display: inline-block;
    vertical-align: middle;
}

.tooltip-icon{
    float: right;
    width: 100px;
    height: 100px;
    border-radius: 6px;
    margin-left: 20px;
    border: 4px solid black;
    background-color: black;
}

.pickable{
    cursor: pointer;
    border-color: #676488;
}

.attacking{
    box-shadow:0px 0px 0px 3px #ffbc00 inset;
}

.pickedAbility, .readyAbility {
    border-color: #ffbc00;
}

.castingAbility{
    border-color: #8a7641;
}

.onCooldown{
    cursor: not-allowed;
}

.cooldownCounter{
    color: white;
    text-align: center;
    font-size: 24px;
    margin-top: 20px;
    position: absolute;
    z-index: 10;
    width: 60px;
}

.picked, .casting{
    background: linear-gradient(-45deg,  #22212d, #2a293a, #d39c05);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

.target{
    background: linear-gradient(-45deg,  #22212d, #2a293a, #bb1c1c);
	background-size: 400% 400%;
	animation: gradient 10s ease infinite;
}

.castbar{
    padding: 3px;
    background-color: #d39c05;
    float: left;
    position: relative;
    margin: 39px 0px 5px 5px;
    bottom: 0px;
    box-shadow: 0px 0px 5px black;
    z-index: 10;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.material-icons{
    font-size: 13px;
    line-height: 1.6;
    display: inline-block;
    vertical-align: middle;
}