.expander{
    max-width: 800px;
}

.actions_container, .board_container, .game_container{
    display: inline-block;
    vertical-align: middle;
}

.game_container{
    margin: 20px;
    margin-right:60px;
    max-width: 770px;
    color:#ffffff75;
    padding-bottom: 200px;
    float:left;
}

.board_side{
    background-color: #1d1a2d;
    border-radius: 5px;
    padding: 20px;
    min-height: 320px;
    margin-bottom: 10px;
}

.actions_container{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    background-color: #252338;
    border-radius: 5px;
    color: white;
    width: 100%;
    p{
        margin: 15px;
    }
}

.recruitChampion{
    width: 110px;
    height: 150px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    cursor: pointer;
}

.pass-button{
    float:right;
    margin-top:25px;
}