
<div *ngIf="game != null" class="game_container">
    <div class="guide_container">
        <ng-container *ngIf="game.turnstate === 'PICKING'">
            <h2 *ngIf="game.myAbility === null">Pick an ability</h2>
            <h2 *ngIf="game.myAbility != null">Waiting..</h2>
        </ng-container>     
        
        <ng-container *ngIf="game.turnstate === 'TARGETING'">
            <h2 *ngIf="game.myAbilityResult != null && game.myTarget === null">Pick a {{ game.myAbilityResult.targetType}} target</h2>
            <h2 *ngIf="game.myAbilityResult === null">Waiting..</h2>
        </ng-container>
    </div>

    <!-- TODO: ACTIONS Component -->
    <div class="actions_container">
        <p><span>Up next: </span><span *ngFor="let boardCard of game.baseTurnCards; index as i; let last = last">{{boardCard.card.name}}<span *ngIf="!last">, </span> </span></p>
        <p *ngFor="let log of game.gameLog">{{log}}</p>
    </div>
    
    <div class="board_container">
        <div class="board_side">
            <h2>{{game.opponentsName}}'s team</h2>
            <ng-container *ngFor="let boardCard of game.opponentsBoard; index as i" >
                <app-card  (cardClicked)="cardClicked(boardCard.boardCardId, $event)"
                [boardCard]="boardCard" [pickedAbility]="boardCard.boardCardId === game.opponentsUsedCard ? game.opponentsAbility.baseAbility : null "
                [target]="boardCard.boardCardId === game.myTarget"></app-card>
            </ng-container>
        </div>

        <div class="board_side my_board">

            <ng-container *ngIf="game.turnstate === 'RECRUITING'">
                <h2>Pick your team:</h2>
                <mat-card class="recruitCard" *ngFor="let card of playerCollection; index as i" mat-raised-button (click)="recruitCard(card.cardId)">
                   <h2>{{card.name}}</h2>
                </mat-card>
            </ng-container>

            <ng-container *ngFor="let boardCard of game.myBoard; index as i" >
                <app-card (cardClicked)="cardClicked(boardCard.boardCardId, $event)" 
            [boardCard]="boardCard" [pickedAbility]="boardCard.boardCardId === game.myUsedCard ? game.myAbility.name : null "></app-card>
            </ng-container>
            <h2>My team</h2>
            <button *ngIf="game.turnstate === 'PICKING'" mat-raised-button (click)="passTurn()">Pass turn</button>
        </div>     
    </div>

</div>
