.actions_container, .board_container, .game_container{
    display: inline-block;
}

.game_container{
    margin: 20px;
    width: 1300px;
    color:#00000075;
    left: 50%;
    margin-left: -550px;
    position: relative;
    margin-bottom: 80px;
}

.board_container{
    background: #e4b85f;
    padding: 15px;
    border-radius: 10px;
}

.board_side{
    background-color: #efcd87;
    border-radius: 5px;
    padding: 10px 30px;
    min-height: 320px;
    margin-bottom: 10px;
}

.actions_container{
    background-color: #22212d;
    color: #ffffff60;
    padding: 15px;
    float: right;
    width: 350px;
    border-radius: 5px;
    p{
        margin-bottom: 8px;
    }
}

.recruitChampion{
    width: 110px;
    height: 150px;
    display: inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
    vertical-align: middle;
    cursor: pointer;
}

.pass-button{
    float:right;
    margin-right: 15px;
}

h2{
    margin-left: 15px;
    margin-bottom: 5px;
    line-height: 1.8;
}

button{
    background-color: #302f3a;
    color: #ffffff80;
}

button:active{
    color: #ffffff;
}