<mat-card class="game-card" [ngClass]="{'picked': pickedAbility != null, 'target': target === true , 'dead' : boardCard.isAlive === false }">

    <h2 (click)="callCardClick('')" class="name">{{boardCard.card.name}}</h2>

    <h2 class="hp" [ngClass]="{ 
        'orange' : (boardCard.currentHp / boardCard.card.baseHp ) > 0.25 , 
        'yellow' : (boardCard.currentHp / boardCard.card.baseHp ) > 0.50 , 
        'green' : (boardCard.currentHp / boardCard.card.baseHp ) > 0.75 }"
    [matTooltip]="'max: ' + boardCard.card.baseHp" matTooltipPosition="above">{{boardCard.currentHp}}</h2>
    <mat-progress-bar
          class="healthbar" [ngClass]="{ 
          'orange' : (boardCard.currentHp / boardCard.card.baseHp ) > 0.25 , 
          'yellow' : (boardCard.currentHp / boardCard.card.baseHp ) > 0.50 , 
          'green' : (boardCard.currentHp / boardCard.card.baseHp ) > 0.75 }"
          color="green"
          [value]="( boardCard.currentHp / boardCard.card.baseHp ) * 100">
      </mat-progress-bar>
    
      
    <ng-container  *ngFor="let ability of boardCard.abilities; let i = index">
        <p *ngIf="ability.baseAbility === true" class="ability" [ngClass]="{ onCooldown : ability.cooldownCounter > 0 }" 
            (mouseenter)='showTooltip(ability)' (mouseleave)='hideTooltip()'>Base: {{ability.name}} 
                <ng-container *ngIf="ability.cooldownCounter > 0">({{ability.cooldownCounter}})</ng-container>
            </p>
        <p *ngIf="ability.baseAbility != true" (click)="callCardClick(ability.abilityId)" class="ability" [ngClass]="{'pickedAbility': pickedAbility === ability.name, onCooldown : ability.cooldownCounter > 0 }" 
        (mouseenter)='showTooltip(ability)' (mouseleave)='hideTooltip()'>{{ability.name}} 
            <ng-container *ngIf="ability.cooldownCounter > 0">({{ability.cooldownCounter}})</ng-container>
        </p>
    </ng-container>
    <ng-container *ngIf="boardCard.statuses.length > 0 "><span [matTooltip]="status.statusType + ' ' + status.amount + ' for ' + status.duration + ' turns.'" 
        class="status" *ngFor="let status of boardCard.statuses; let i = index">{{ status.statusType }}  </span></ng-container>
</mat-card>

<div class="tooltip" *ngIf="tooltip != null">
    <h3>{{ tooltip.name }}</h3>
    <p>{{ tooltip.description }}</p>
    
    <p>Cooldown: {{ tooltip.cooldown }} turns</p>
</div>